<p id="notice"><%= notice %></p>

<h1>Articicles</h1>

<table>
  <thead>
    <tr>
      <th>Tile</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articicles.each do |articicle| %>
      <tr>
        <td><%= articicle.tile %></td>
        <td><%= articicle.body %></td>
        <td><%= link_to 'Show', articicle %></td>
        <td><%= link_to 'Edit', edit_articicle_path(articicle) %></td>
        <td><%= link_to 'Destroy', articicle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Articicle', new_articicle_path %>
