<p id="notice"><%= notice %></p>

<p>
  <strong>Tile:</strong>
  <%= @articicle.tile %>
</p>

<p>
  <strong>Body:</strong>
  <%= @articicle.body %>
</p>

<%= link_to 'Edit', edit_articicle_path(@articicle) %> |
<%= link_to 'Back', articicles_path %>
